html, body{ 
    overflow-x: hidden;
     overflow-y: auto;
 }

body{
	padding-top: 60px;
	background: url(../img/bg.jpg) repeat scroll 0% 0% transparent;
	margin: 0;
    height:100%;
}


#footer-area{
	background-color: #000;
	padding-top: 30px;
    padding-bottom: 30px;
	
}

