
{% extends 'base.html' %}
{% load static %}

{%block title%}LiusBlog | 博客频道{% endblock %}

{% block mainarea %}

<div class = "row">
   	<div class="body-area-left col-md-8">
		{% include "./include/carouse.html" %}
		<div id="ariticles">
			<!-- <a href="{% url "blog:edit" '0' %}">new</a> -->
			{% for article in articles %}
				<h1>
					<a href={% url "blog:detail" article.id  %}>{{ article.title }} </a>
				</h1>

				<br>
				<hr>
				<p>
					{{ article.content }}	
				</p>
				
			{% endfor %}
		</div>
	</div>

	<div class="body-area-right col-md-4">
		
		<div class="panel panel-area">
			
			<div class="panel-heading">
	            <h3 class="panel-title">
	                <span class="glyphicon glyphicon-flag"></span>
	                热门文章
	                <span class="glyphicon glyphicon-remove btn panel-close pull-right"></span>
	                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right"  data-toggle="collapse" data-target="#hotest-post-list"></span>
	            </h3>
	        </div>

	        <ul id="hotest-post-list" class="list-group collapse in">            
	            <li class="list-group-item">
	            <span class="hotest-post-title"><a href="/article/vmaig_blog.html">本网站开源喽~~基于Django，Bootstrap</a> </span>
	            <span class="badge">7715</span>
	            </li>
	        
	            <li class="list-group-item">
	            <span class="hotest-post-title"><a href="/article/OllyDbg_use_study_01.html">OllyDbg 使用教程 （一）</a> </span>
	            <span class="badge">4236</span>
	            </li>
	        </ul>

	    </div>

	</div>

</div>

{% endblock%}

