<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
          {% block title %}{% endblock %}
    </title>
    
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">

    
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    
    {% block css%}
    
    {% endblock %}

    {% block js %}
    
    {% endblock %}
</head>
<body>
    <!-- 导航栏开始 -->
    <div id="nav-area" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">

           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
             </button>

          <div class="navbar-brand">
            <a href="{% url 'home' %}">
              <span>LiusBlog</span>
            </a>
          </div>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% if blog_type == 'all'%}
              <li class="active">
            {% elif blog_type == ''%}
              <li class="active">
            {% else %}
              <li>
            {% endif %}
              <a href="{% url 'home' %}">{# <span class="glyphicon glyphicon-home"></span> #}首页</a>
            </li>
            
            {% for blog_catagroy in blog_types %}
              {% if blog_catagroy.type_name == blog_type %}  
                <li class="active">
              {% else %}
                <li>
              {% endif %}

                <a href="{% url 'article_list' %}?blog_type={{ blog_catagroy }}"> {{ blog_catagroy }} </a>
              </li>
            {% endfor %}
            
            {% if blog_type == 'about'%}
              <li class="active">
            {% else %}
              <li>
            {% endif %}
              <a href="{% url 'about_me' %}">关于</a>
            </li>
          </ul>
          
          <!-- 右侧按钮 -->
          <div class="pull-right">
            <ul class="nav navbar-nav navbar-left">
              <form class="hidden-sm  nav-item navbar-form" role="search" method="get" id="searchform" action="/search/">
                  <div class="input-group">
                      <input type="search" name="q" class="form-control rounded-0 f-15" placeholder="搜索" required=True>
                      <div class="input-group-btn">
                          <button class="btn btn-info rounded-0" type="submit"><i class="fa fa-search"></i></button>
                      </div>
                  </div>
              </form>
              
          
            </ul>
            {% if request.user.is_authenticated %}
              <ul class="nav navbar-nav navbar-right">
                
                {% if request.user.is_superuser %}
                  <div class="nav-new-article">
                    <a href="">
                      <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i>
                      <span>新文章</span>
                    </a>
                  </div>
                {% endif %}
         

    
                <li class="dropdown navbar-right" >
                  <a  style="padding-left: 0px;padding-top: 5px;padding-bottom: 5px; margin-left: 10px;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" title='{{ request.user }} 欢迎回来!'>    
                    <img style="border-radius: 50%;height: 40px;" src="/static/imgs/default.png" alt="{{ request.user }}">  
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'userinfo' %}">个人资料</a></li>
                    <li><a href="#">消息</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'logout' %}">退出</a></li>
                  </ul>
                </li>
              </ul>
            {% else %}
               <ul class="nav navbar-nav">
                <li >
                    <a style="font-weight: bold" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                </li>
                <li>
                    <a style="font-weight: bold"  href="{% url 'register' %}}?from={{ request.get_full_path }}">注册</a>
                </li>
              </ul>
            {% endif %}
          </div>
          <!-- 右侧按钮结束 -->
          
        </div>
      </div>
    </div>
    <!-- 导航栏结束 -->


    <!-- 主内容区 -->
    <div id="main-area" class="container">
        <div class="row clearfix">
            {% block bulletin %}
            {% endblock %}

            {% block main_area %}
            <!-- 左边区域 -->
              <div id="left-area" class="col-xs-12 col-sm-8 col-md-9">
                  {% block left_area%}
                  {% endblock %}
              </div>

              <!-- 右边区域 -->
              <div  id="right-area" class="hidden-xs col-sm-4 col-md-3">
                  {% block right_area%}
                  {% endblock %}
              </div>
            {% endblock %}
        </div>
    </div>

    <!-- 网站脚注 -->
    <div id="footer-area">
      <div>
          <span>Copyright © 2017-2018 spygg.</span>
      </div>
      <div>
          <span>Base On</span> 
          <a href="https://www.djangoproject.com" target="_blank">Django 2.0</a>
          <a href="http://www.bootcss.com/" target="_blank">BootStrap 3+</a>
      </div>

    </div>
    <!-- 网站脚注结束 -->
</body>
</html>