<!DOCTYPE html>

{% load static %}

<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> {%block title%} 测试 {% endblock %} </title>

    <link href="{%static  'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <!--[if lt IE 9]>
      <script src="../static/js/html5shiv.min.js"></script>
      <script src="../static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="main-area"> 
    	{% include "./blog/include/nav.html"%}

    	<div id="body-area" class="container">
    		{% block mainarea %}{% endblock %}	
    	</div>
	  	
	  	{% include "./blog/include/footer.html"%}
  	</div> 


    <script src="{%static 'js/jquery.min.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
