{% extends 'base.html' %}

{% block css %}
    <style type="text/css">
         .register-area {
            margin-top: 50px;
        }

        ul{
            list-style: none;
            padding-left: 1em;
        }
    </style>
{% endblock %}

{% block js %}
    
{% endblock %}

{% block main_area %}
    <div class="container">
        <div class="row">
            <div class="register-area col-md-6 col-md-offset-3">
                <div class="panel panel-primary ">
                    <div class="panel-heading">
                        <h3 class="panel-title">注册</h3>
                    </div>
                    <div class="panel-body">
                        <form method="POST" action="{% url 'register' %}">
                            {% csrf_token %} 
                            {% for field in registerForm %}
                                {{ field }}
                                <p class="text-danger"> {{ field.errors.as_text }} </p>
                            {% endfor %}
                            <span class="text-danger pull-left"> {{ registerForm.non_field_errors }} </span>
                            <input type="submit" class="pull-right btn btn-primary" value="注册" />
                        </form>
                    </div>
                </div>
            </div>
        </div>    
    </div>

   
{% endblock %}