{% extends 'base.html' %}

{% block css %}
    <style type="text/css">
         .resetpasswd-area {
            margin-top: 50px;
        }

        ul{
            list-style: none;
            padding-left: 1em;
        }
    </style>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {

        })    
    </script>
{% endblock %}

{% block main_area %}
    
    <div class="container">
        <div class='row'>
            <div class="resetpasswd-area col-md-6 col-md-offset-3">
                <div class="panel panel-primary ">
                    <div class="panel-heading">
                        <h3 class="panel-title">密码重置</h3>
                    </div>
                    <div class="panel-body">
                        <form method="POST" action="{% url 'resetpasswd' %}">
                            {% csrf_token %} 

                            {% for field in resetPassWdForm %}
                                {{ field }}
                                <p class="text-danger"> {{ field.errors.as_text }} </p>
                            {% endfor %}
                            
                            <span class="pull-left text-danger"> {{ resetPassWdForm.none_field_errors }} </span>
                            <input type="submit" class='btn btn-primary pull-right' value="重置" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}